/.gradle/
/.idea/
/configuration/build/
/adapters/web/build/
/application/build/
/adapters/persistence/build/
/adapters/sonarqube/build/
/adapters/messaging/build/
/adapters/jira/build/
/build/
/adapters/build/
